@model IEnumerable<FoodForm.Models.Utilizadores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Moderador"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagem)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <img src="~/img/utilizadores/@item.Imagem" height="80" alt="@item.Nome" title="@item.Nome" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        @if (User.IsInRole("Moderador"))
                        {<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>}
                    </td>
                </tr>
            }
        </tbody>
    </table>
