@model IEnumerable<FoodForm.Models.Utilizadores>

@{
    ViewData["Title"] = "Perfis de Utilizadores";
}

<h1>Perfis de Utilizadores</h1>

@if (User.IsInRole("Moderador"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagem)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <img src="~/img/utilizadores/@item.Imagem" height="80" alt="@item.Nome" title="@item.Nome" />
                    </td>
                    <td>
                        <a class="btn" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                        <a class="btn " asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye" aria-hidden="true"></i></a> |
                        <a class="btn" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
