@model IEnumerable<FoodForm.Models.Denuncias>

@{
    ViewData["Title"] = "Denuncias";
}

<h1>Denuncias</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receita.Titulo)
            </td>
            <td>
                <a class="btn " asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye" aria-hidden="true"></i></a> |
                <a class="btn" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
