@model FoodForm.Models.Receitas

@{
    ViewData["Title"] = "Details";
}

<h1>Receita</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <dl class="col receitaContainer">
            <dd class="col-sm-10">
                <img src="~/img/receitas/@Model.Imagem" height="256" alt="@Model.Titulo" title="@Model.Titulo" />
            </dd>
            <dd class="col-sm-12">
                <h2>@Html.DisplayFor(model => model.Titulo)</h2>
            </dd>
            <dd class="col-sm-12">
                <p>@Html.DisplayFor(model => model.Descricao)</p>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dificuldade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dificuldade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tempo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tempo) min
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PessoasServidas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PessoasServidas)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ingredientes)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Ingredientes == null) //texto para o caso de não existirem
                {
                    <text>Nenhum ingrediente identificado </text>
                }
                else
                {
                    @Model.Ingredientes
                }

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilizador)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilizador.Nome)
            </dd>
        </dl>
        <div class="col comentariosContainer">

            @if (User.Identity.IsAuthenticated) //so pode visualizar se for autenticado
            {
                //so pode ser comentado se for utilizador
                <h2>Comentários @if (User.IsInRole("Utilizador")) {<a class="btn btn-light" asp-controller="Comentarios" asp-action="Create" asp-route-id="@Model.ID"><span>✏️</span></a>}</h2>
                <hr />
                @if (Model.ListaDeComentarios.Count == 0) //se não houver receitas associadas a esta conta ou seja o count for 0.
                {
                    <p>Sem Comentários. Faz of primeiro comentário!</p>
                }
                else
                {
                    @foreach (var item in Model.ListaDeComentarios)
                    {
                        <div id="comentario row">
                            <div class="col">
                                <h5>@Html.DisplayFor(modelItem => item.Utilizador.Nome)</h5>
                                @Html.DisplayFor(modelItem => item.Conteudo)
                                <br />
                                @Html.DisplayFor(modelItem => item.Data)
                                @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.ID_Dono || User.IsInRole("Moderador"))
                                {
                                    <div class="col">
                                        <a asp-controller="Comentarios" asp-action="Delete" asp-route-id="@item.ID">
                                            <span>🗑️</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>

    @if (User.Identity.IsAuthenticated && !User.IsInRole("Moderador"))
    {
        <div class="row likeContainer">

            @if (ViewBag.Liked == true)
            {
                <form asp-action="Delete" asp-controller="Gostos" method="post">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Gostei" class="btn btn-success" />
                </form>
            }
            else
            {
                <form asp-action="Create" asp-controller="Gostos" method="post">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Gostar" class="btn btn-primary" />
                </form>
            }
            @Model.ListaDeGostos.Count Gosto(s)
        </div>
        <div class="row">
            <a class="btn btn-dark" asp-action="Create" asp-controller="Denuncias" asp-route-id="@Model.ID">Denunciar</a>
        </div>

    }



    <a class="btn btn-light" asp-action="Index">Voltar</a>

    @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.ID_Dono)
    {
        <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ID">Editar</a>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Moderador") || User.Identity.IsAuthenticated && Model.Autor == ViewBag.ID_Dono)
    {
    <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.ID">Apagar</a>
    }
</div>

