@model FoodForm.Models.Receitas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receitas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/img/receitas/@Model.Imagem" height="256" alt="@Model.Titulo" title="@Model.Titulo" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoasServidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoasServidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.ID)
        </dd>
    </dl>
</div>



<div>
    <a asp-action="Index">Back to List</a>
    @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.Owner)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a>
        <a asp-action="Delete" asp-route-id="@Model.ID">Apagar</a>
    }
</div>
