@model FoodForm.Models.Receitas

@{
    ViewData["Title"] = "Details";
}

<h1>Receita</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <dl class="col receitaContainer">
            <dd class="col-sm-10">
                <img src="~/img/receitas/@Model.Imagem" height="256" alt="@Model.Titulo" title="@Model.Titulo" />
            </dd>
            <dd class="col-sm-12">
                <h2>@Html.DisplayFor(model => model.Titulo)</h2>
            </dd>
            <dd class="col-sm-10">
                <span class="icons">
                    <i class="fa fa-signal" aria-hidden="true"></i> 
                    @Html.DisplayFor(model => model.Dificuldade)
                </span>
                <span class="icons">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 
                    @Html.DisplayFor(model => model.Tempo)min
                </span>
                <span class="icons">
                    <i class="fa fa-users" aria-hidden="true"></i> 
                    @Html.DisplayFor(model => model.PessoasServidas)
                </span>
            </dd>
            <dd>
                @if (User.Identity.IsAuthenticated && !User.IsInRole("Moderador"))
                {
                    //botão de like que so pode ser acedido pelos utilizadores
                    <div class="likeContainer">

                        @if (ViewBag.Liked == true) //enquato tiver sido gostado apresenta o icon verde e apresenta a opção de apagar o like da base de dados
                        {
                            <form asp-action="Delete" asp-controller="Gostos" method="post">
                                <input type="hidden" asp-for="ID" />
                                <button type="submit" value="Gostei" class="btn">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color:green"></i>
                                    @Model.ListaDeGostos.Count Gosto(s)
                                </button>
                            </form>
                        }
                        else  //enquato não tiver sido gostado apresenta o icon verde e apresenta a opção de criar o like na base de dados
                        {
                            <form asp-action="Create" asp-controller="Gostos" method="post">
                                <input type="hidden" asp-for="ID" />
                                <button type="submit" value="Gostar" class="btn">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color:blue"></i>
                                    @Model.ListaDeGostos.Count Gosto(s)
                                </button>
                            </form>
                        }
                    </div>
                }
            </dd>
            <dd class="col-sm-12">
                <p>@Html.DisplayFor(model => model.Descricao)</p>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ingredientes)
            </dt>
            <dd class="col-sm-10">
                @if(Model.Ingredientes != null){ //separa a string dos ingredientes em list items desde que haja ingredientes identificados
                    <ul>
                        @foreach (var ingredient in Model.Ingredientes.Split(";")){
                            @if(ingredient != ""){
                                <li>
                                    @ingredient
                                </li>
                            }
                        }
                    </ul>
                } else {
                    <span>Nao existem ingredientes para esta receita.</span> // no caso de nao haver ingredientes identificados
                }
            </dd>
            <dd class="col-sm-10">
                <i class="fa fa-user" aria-hidden="true"></i>
                @Html.DisplayFor(model => model.Utilizador.Nome)
            </dd>
        </dl>
        <div class="col comentariosContainer">

            @if (User.Identity.IsAuthenticated) //so pode visualizar se for autenticado
            {
                //so pode ser comentado se for utilizador
                <h2>Comentários @if (User.IsInRole("Utilizador")) {<a class="btn btn-light" asp-controller="Comentarios" asp-action="Create" asp-route-id="@Model.ID"><span>✏️</span></a>}</h2>
                <hr />
                @if (Model.ListaDeComentarios.Count == 0) //se não houver receitas associadas a esta conta ou seja o count for 0.
                {
                    <p>Sem Comentários. Faz o primeiro comentário!</p>
                }
                else
                {
                    @foreach (var item in Model.ListaDeComentarios) //lista de comentarios
                    { 
                        //por cada comentario apresenta o nome do autor, o conteudo e quando foi escrito
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Utilizador.Nome)</h5>
                                        <p class="card-text">@Html.DisplayFor(modelItem => item.Conteudo)</p>
                                        <p>@Html.DisplayFor(modelItem => item.Data)</p>
                                        @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.ID_Dono || User.IsInRole("Moderador"))
                                            //permite apagar se for o dono do comentario ou o moderador
                                        {
                                            <a class="btn btn-danger" asp-controller="Comentarios" asp-action="Delete" asp-route-id="@item.ID">
                                                <span>Apagar</span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>

    <a class="btn btn-light" asp-action="Index">Voltar</a>

    @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.ID_Dono)
    {
        <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ID">Editar</a>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Moderador") || User.Identity.IsAuthenticated && Model.Autor == ViewBag.ID_Dono)
    {
        <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.ID">Apagar</a>
    }
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Moderador"))
    {
        <a class="btn btn-dark" asp-action="Create" asp-controller="Denuncias" asp-route-id="@Model.ID">Denunciar</a>
    }
</div>

