@model FoodForm.Models.Receitas

@{
    ViewData["Title"] = "Details";
}

<h1>Receita</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <dl class="col receitaContainer">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>
            <dd class="col-sm-10">
                <img src="~/img/receitas/@Model.Imagem" height="256" alt="@Model.Titulo" title="@Model.Titulo" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dificuldade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dificuldade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tempo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tempo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PessoasServidas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PessoasServidas)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ingredientes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ingredientes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilizador)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilizador.ID)
            </dd>
        </dl>
        <div class="col comentariosContainer">

            @if (User.Identity.IsAuthenticated)
            {
                <h2>Comentários</h2>
                <hr />
                @if (Model.ListaDeComentarios.Count == 0) //se não houver receitas associadas a esta conta ou seja o count for 0.
                {
                    <p>Sem Comentários.</p>
                }
                else
                {
                    @foreach (var item in Model.ListaDeComentarios)
                    {
                        <div id="comentario row">
                            <div class="col">
                                <h5>@Html.DisplayFor(modelItem => item.UtilizadorFK)</h5>
                                @Html.DisplayFor(modelItem => item.Conteudo)
                                <br />
                                @Html.DisplayFor(modelItem => item.Data)
                                @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.Owner || User.IsInRole("Moderador"))
                                {
                                    <div class="col">
                                        <a asp-controller="Comentarios" asp-action="Delete" asp-route-id="@item.ID">
                                            <span>🗑️</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
        
    </div>
        @if (User.Identity.IsAuthenticated && !User.IsInRole("Moderador"))
        {
            <div class="row likeContainer">
                @if (ViewBag.Liked == true) { 
                        <button class="btn btn-success">Like</button> 
                    } else { 
                        <button class="btn btn-primary">Like</button> 
                    }
                @Model.ListaDeGostos.Count Gostos
            </div>
            <div class="row">
                <button>Comentar</button>
                <button></button>
            </div>
            
        }
        
        
        <div class="row likeContainer"></div>
            


        <a asp-action="Index">Back to List</a>

        @if (User.Identity.IsAuthenticated && Model.Autor == ViewBag.Owner)
        {
            <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a>

            <a class="text-danger" asp-action="Delete" asp-route-id="@Model.ID">Apagar</a>
        }
    </div>
</div>
