@model IEnumerable<FoodForm.Models.Receitas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dificuldade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tempo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PessoasServidas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredientes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Utilizador)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <img src="~/img/receitas/@item.Imagem" height="80" alt="@item.Titulo" title="@item.Titulo" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dificuldade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoasServidas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizador.ID)
                </td>
                
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {<a asp-action="Edit" asp-route-id="@item.ID">Edit</a>}
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    @if (User.Identity.IsAuthenticated) 
                    {<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>}
                        
                </td>
            </tr>
            }
        </tbody>
    </table>
